header {
  background-color: var(--background-header);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: flex-start;
  padding: 38px 48px;

  position: relative;
}
.navigation-menu {
  margin-top: 24px;
}
input[type="checkbox"]:checked ~ nav {
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;

  background-color: var(--background-header);
}

nav {
  display: none;
}
.list__links {
  list-style: none;
}

.list__links li {
  margin: 16px 0;
}
.list__links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--titles-weight);
  font-size: 24px;
}
.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.logo_mobile {
  display: block;
}
.logo_desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin-top: 0;
    width: 467px;
  }
  .navigation-menu label {
    display: none;
  }
  .navigation-menu nav {
    display: block;
  }
  .navigation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-menu li {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 38px 120px;
  }
  .logo {
    width: 260px;
    height: 64px;
  }
  .img_desktop {
    display: block;
  }
  .img_mobile {
    display: none;
  }
  .navigation-menu a:hover{
    color: var(--secondary-red);
    transition: 0.3s;

  }
}

@media screen and (min-width: 1680px) {
  header {
    padding: 38px 140px;
  }
}
