.hero_img {
  height: 400px;
  width: 100%;
  background: url("../img/Mobile/Homepage/Banner\ homepage.png") no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero_img {
    background:url("../img/Mobile/Homepage/Homepage_tablet.png")
      no-repeat;
    background-size: cover;
    height: 620px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
      .hero_img {
    background:url("../img/Desktop_Large/Homepage/Banner.png")
      no-repeat;
    background-size: cover;
    height: 620px;
    width: 100%;
  }
}
